# Actions define the merge behaviour for various element KDM types. This specifies
# how two files are merged together.
#
#  MERGE   Merges the contents of like IDed nodes together
#  COPY    Copies the information in the node even if the ID is already represented
#  IGNORE  Does not specifically merge or copy data, but recurses down the tree and
#          let the children specify for themselves.
#
# To match multiple elements you may use regular expressions.
#
# The default behaviour is specified by using catch all regex ".*". Ensure that this
# is the LAST element or it will mask any other regex entries.
#
# When identifying a merge type for an element, first an exact match is attempted,
# then regular expressions are evaluated in the order in which they appear in the
# file.
#
action,code/Package,MERGE
action,code/LanguageUnit,MERGE
action,code/SharedUnit,MERGE
action,code/CodeAssembly,MERGE
action,code/CompilationUnit,MERGE
action,code/CompilationUnit,MERGE
action,source/StorableUnit,MERGE
action,source/Directory,MERGE
action,code/MethodUnit,SINGLETON
action,code/CallableUnit,SINGLETON
action,action/BlockUnit,SINGLETON
action,.*Model,MERGE
action,kdm/ExtensionFamily,MERGE
action,data/DataContainer,MERGE

# This regex matches everything else. Note that the default behaviour in the linker
# is currently to ignore, but since this could change it is probably a good idea to
# actively code this behaviour.
action,.*,IGNORE

# When elements have no IDs, how should they be handled?
noid,COPY