<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ToifImportNature"
         name="TOIF Import Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.kdmanalytics.toif.nature.ToifImportNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="TOIF Nature commands"
            id="com.kdmanalytics.toif.ToifNature.category">
      </category>
      <command
            categoryId="com.kdmanalytics.toif.ToifNature.category"
            defaultHandler="com.kdmanalytics.toif.nature.AddRemoveToifImportNatureHandler"
            id="com.kdmanalytics.toif.addRemoveToifImportNature"
            name="Add/Remove TOIF Import Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.kdmanalytics.toif.addRemoveToifImportNature"
               label="Disable TOIF Import Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.kdmanalytics.toif.ui.common.ToifImportNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="com.kdmanalytics.toif.markers.ToifMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="com.kdmanalytics.toif.ui.common.CWE">
      </attribute>
      <attribute
            name="com.kdmanalytics.toif.ui.common.SFP">
      </attribute>
      <attribute
            name="com.kdmanalytics.toif.ui.common.TRUST">
      </attribute>
   </extension>
   <extension
         id="com.kdmanalytics.toif.markers.CppcheckMarker"
         name="Cppcheck"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.kdmanalytics.toif.markers.ToifMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="com.kdmanalytics.toif.markers.FindbugsMarker"
         name="FindBugs"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.kdmanalytics.toif.markers.ToifMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="com.kdmanalytics.toif.markers.JlintMarker"
         name="Jlint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.kdmanalytics.toif.markers.ToifMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="com.kdmanalytics.toif.markers.RatsMarker"
         name="RATS"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.kdmanalytics.toif.markers.ToifMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="com.kdmanalytics.toif.markers.SplintMarker"
         name="Splint"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.kdmanalytics.toif.markers.ToifMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.kdmanalytics.toif.ui.common.ResourceChangeMonitor">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
     <type
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="com.kdmanalytics.toif.markers.ToifMarker"
        name="com.kdmanalytics.toif.markers.ToifAnnotation"
        markerSeverity="1"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
           annotationType="com.kdmanalytics.toif.markers.ToifAnnotation"
           colorPreferenceKey="toifColor"
           colorPreferenceValue="153,0,255"
           highlightPreferenceKey="toifHighlight"
           icon="icons/flag_blue.png"
           includeOnPreferencePage="true"
           label="TOIF"
           overviewRulerPreferenceKey="toifRuler"
           overviewRulerPreferenceValue="true"
           presentationLayer="1"
           textPreferenceKey="toifText"
           textPreferenceValue="true"
           textStylePreferenceKey="toifStyle"
           textStylePreferenceValue="SQUIGGLES"
           verticalRulerPreferenceKey="myMarkerIndicationInVerticalRuler"
           verticalRulerPreferenceValue="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.kdmanalytics.toif.ui.common.preferences.ToifPreferences"
            id="com.kdmanalytics.toif.preferences.Toif"
            name="TOIF">
      </page>
      <page
            category="com.kdmanalytics.toif.preferences.Toif"
            class="com.kdmanalytics.toif.ui.common.preferences.AConfigPreferences"
            id="com.kdmanalytics.toif.ui.common.page2"
            name="TOIF Findings Configuration">
      </page>
   </extension>
</plugin>
