<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.kdmanalytics.toif.report.repositoryMaker.extensionpoint" name="repositoryMaker" schema="schema/com.kdmanalytics.toif.report.repositoryMaker.extensionpoint.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.kdmanalytics.toif.report.sfp"
            class="com.kdmanalytics.toif.report.internal.views.ReportView"
            icon="src/icons/bug.png"
            id="com.kdmanalytics.toif.report.view"
            name="TOIF Report View"
            restorable="true">
      </view>
      <category
            id="com.kdmanalytics.toif.report.sfp"
            name="SFP/CWE">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.kdmanalytics.toif.report.view?after=additions">
         <command
               commandId="com.kdmanalytics.toif.report.Weakness"
               icon="src/icons/tick.png"
               label="Not a Weakness"
               style="push">
            <parameter
                  name="com.kdmanalytics.toif.report.weaknessState"
                  value="isNotWeakness">
            </parameter>
         </command>
         <command
               commandId="com.kdmanalytics.toif.report.Weakness"
               icon="src/icons/cross.png"
               label="Is a Weakness"
               style="push">
            <parameter
                  name="com.kdmanalytics.toif.report.weaknessState"
                  value="isWeakness">
            </parameter>
         </command>
         <command
               commandId="com.kdmanalytics.toif.report.trust"
               icon="src/icons/trust.png"
               label="Set Trust Level"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.kdmanalytics.toif.report.internal.items.ToifReportEntry">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <menu
               icon="src/icons/trace.png"
               label="Trace">
            <dynamic
                  class="com.kdmanalytics.toif.report.internal.contributionItems.TraceContributionItem"
                  id="com.kdmanalytics.toif.report.traceDynamic">
            </dynamic>
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.kdmanalytics.toif.report.internal.items.ToifReportEntry">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </menu>
         <separator
               name="com.kdmanalytics.toif.report.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.kdmanalytics.toif.report.moreInformation"
               icon="src/icons/question.png"
               label="More Information"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.kdmanalytics.toif.report.view">
         <command
               commandId="com.kdmanalytics.toif.report.exportSelection"
               icon="src/icons/export.gif"
               label="Export Selection"
               style="push">
         </command>
         <command
               commandId="com.kdmanalytics.toif.report.ccr"
               icon="src/icons/xml.png"
               label="Export Coverage"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:project?after=additions">
         <menu
               icon="src/icons/bug.png"
               label="SFP/CWE">
            <command
                  commandId="com.kdmanalytics.toif.report.BuildDefectModel"
                  icon="src/icons/bug.png"
                  label="Populate TOIF View"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.kdmanalytics.toif.report.view?after=additions">
         <command
               commandId="com.kdmanalytics.toif.report.filters"
               icon="src/icons/filter.gif"
               label="Filters..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.WeaknessHandler"
            commandId="com.kdmanalytics.toif.report.Weakness">
      </handler>
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.ExportSelectionHandler"
            commandId="com.kdmanalytics.toif.report.exportSelection">
      </handler>
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.MoreInformationHandler"
            commandId="com.kdmanalytics.toif.report.moreInformation">
      </handler>
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.SetTrustHandler"
            commandId="com.kdmanalytics.toif.report.trust">
      </handler>
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.FiltersHandler"
            commandId="com.kdmanalytics.toif.report.filters">
      </handler>
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.ccrHandler"
            commandId="com.kdmanalytics.toif.report.ccr">
      </handler>
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.BuildDefectModelHandler"
            commandId="com.kdmanalytics.toif.report.BuildDefectModel">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.MergeTSV"
            commandId="com.kdmanalytics.toif.report.MergeTSV">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.kdmanalytics.toif.report.internal.handlers.TraceContributionHandler"
            commandId="com.kdmanalytics.toif.report.traceContribution">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.kdmanalytics.toif.report.Weakness"
            name="Weakness">
         <commandParameter
               id="com.kdmanalytics.toif.report.weaknessState"
               name="weakness"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.kdmanalytics.toif.report.exportSelection"
            name="Export Selection">
      </command>
      <command
            id="com.kdmanalytics.toif.report.moreInformation"
            name="More Information">
      </command>
      <command
            id="com.kdmanalytics.toif.report.trust"
            name="Set Trust Level">
      </command>
      <command
            id="com.kdmanalytics.toif.report.filters"
            name="Filter">
      </command>
      <command
            id="com.kdmanalytics.toif.report.ccr"
            name="Export Coverage">
      </command>
      <command
            description="Build the defect model."
            id="com.kdmanalytics.toif.report.BuildDefectModel"
            name="Build Defect Model">
      </command>
      <command
            id="com.kdmanalytics.toif.report.MergeTSV"
            name="Merge TOIF TSV Findings">
      </command>
      <command
            id="com.kdmanalytics.toif.report.traceContribution"
            name="traceContribution">
         <commandParameter
               id="com.kdmanalytics.toif.report.lineNumber"
               name="lineNumber"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.kdmanalytics.toif.report.internal.handlers.NotWeaknessPropertyTest"
            id="com.kdmanalytics.toif.report.weakness.weaknessPropertyTester"
            namespace="com.kdmanalytics.toif.report.weakness"
            properties="notWeakness,isWeakness"
            type="com.kdmanalytics.toif.report.internal.items.ReportItem">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.kdmanalytics.toif.report.category"
            name="SFP/CWE">
      </category>
      <wizard
            category="com.kdmanalytics.toif.report.category"
            class="com.kdmanalytics.toif.report.internal.importWizard.ToifReportImportWizard"
            icon="src/icons/bug.png"
            id="com.kdmanalytics.toif.report.importWizard"
            name="Import Integrated SFP/CWE File">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
      <wizard
            category="com.kdmanalytics.toif.report.category"
            class="com.kdmanalytics.toif.report.internal.importWizard.RepositoryImportWizard"
            icon="src/icons/rep.gif"
            id="com.kdmanalytics.toif.report.importRepositoryWizard"
            name="Import SFP/CWE Repository">
         <description>
            Import a repository from the local workspace.
         </description>
      </wizard>
   </extension>

</plugin>
