<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.kdmanalytics.toif.report.repositoryMaker.extensionpoint">
      <client
            class="com.kdmanalytics.standalone.toif.report.repositoryMaker.RepositoryMaker">
      </client>
   </extension>

</plugin>
